<a href="https://colab.research.google.com/github/ElizabethWaithera/EDA/blob/main/Object_oriented_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# first class

In [ ]:
class student:
  def __init__ (self, name, adm_num, marks):
    self.name = name
    self.adm_num = adm_num
    self.marks = marks

student1 = student('liz', 10113, 450)
student1.marks

450

In [ ]:
class product:
  def __init__(self, product_name, brand_name, model_name, price):
    self.product_name = product_name
    self.brand_name = brand_name
    self.model_name = model_name
    self.price = price

sugar = product('Mumias', 'Mama', 'Mama202', 250)
sugar.price

250

# methods in classes

In [ ]:
class student:
  def __init__(self,name,age,marks):
    self.name = name
    self.age = age
    self.marks = marks

  def result (self):
    if self.age < 18:
      return 'underage'
    else:
       return 'passed'

s1 = student('liz', 20, 500)
s1.result()

'passed'

In [ ]:
class student:
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks

  def result (self):
    if self.marks >= 500:
      return 'Pass'
    else:
      return 'Fail'

s1 = student('liz',500)
s2 = student('arm',400)
s3 = student('ben',600)
s4 = student('cat',200)
s5 = student('dan',500)
s6 = student('fan',100)

student_names = [s1,s2,s3,s4,s5,s6]

passStudents = []
failStudents = []
Students_results = {'passed': passStudents, 'failed': failStudents}


for x in student_names:
  result = x.result()

  if result == 'Pass':
    passStudents.append(x.name)
  else:
    failStudents.append(x.name)

Students_results

{'passed': ['liz', 'ben', 'dan'], 'failed': ['arm', 'cat', 'fan']}

In [ ]:
class product:
  def __init__(self,productName,price):
    self.productName = productName
    self.price = price

  def discount(self, discountvalue):
    discountAmount = (self.price/100)*discountvalue
    finalAmount = self.price - discountAmount
    return int(finalAmount)

s1 = product('lenovo', 15000)
s2 = product('Samsung', 17000)
s3 = product('apple', 20000)
s4 = product('Huwawei', 21000)

product_name = [s1,s2,s3,s4]

for product in product_name:
  discountedPrice = product.discount(10)
  print (f"original_price {product.productName}: {product.price}, discounted price: {discountedPrice}")

original_price lenovo: 15000, discounted price: 13500
original_price Samsung: 17000, discounted price: 15300
original_price apple: 20000, discounted price: 18000
original_price Huwawei: 21000, discounted price: 18900

In [ ]:
class student:
  total_marks =1000
  def __init__(self,name,age, marks):
    self.name = name
    self.age = age
    self.marks = marks
    self.total_marks = student.total_marks

s1= student('liz', 20, 378)
s1.total_marks

1000